.cart_section {
    padding: 50px;
    color: white;
}
.outer_container {
    padding: 50px;
    max-height: 70vh;
    overflow-y: auto;
}
.charge_container {
    margin:15px auto;
    max-width: 320px;
    border: 1px solid white;
}
.charges {
   display: flex;
   justify-content: center;
   gap: 20px;
   margin-top: 10px;
   text-align: center;

}

.cart_items {
    padding: 20px;
    border-radius: 10px;
    max-height: 65vh;
    overflow-y: auto;
}
.checkout_btn {
    background-color: #d63f61;
    font-weight: 600;
    border-radius: 10px;
    padding: 10px;
}

.cart_header {
    display: flex;
    justify-content: space-between;
}
button{
    margin: 0 20px;
}

.item_img {
    width: 150px;
}
.add_on {
    width: 250px;
    text-align: center;
}
.label {
    vertical-align: 5px;
}
.item_inner_container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 40px 0 ;
   background: lightgray;
   border-radius: 10px;
   padding: 10px;
}

input{
    width: 40px;
    height: 20px;
    border: 1px solid black;
    text-align: center;
}

@media screen and (max-width: 768px){
    .item_inner_container {
        flex-direction: column;
        gap: 15px;
    }

}

@media screen and (max-width: 475px){
    .outer_container{
        padding: 5px
    }
}

@media screen and (max-width: 320px){
    .charge_container{
        border: none;
    }
}